<?xml version="1.0"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
<profiles>
    <profile>
        <id>azure-hello-world</id>
        <properties>
            <azureFtpUrl>ftps://waws-prod-yt1-019.ftp.azurewebsites.windows.net/site/wwwroot</azureFtpUrl>
        </properties>
    </profile>
</profiles>
<servers>
    <server>
        <id>azure-hello-world</id>
        <username>nolimits2creations\$nolimits2creations</username>
        <password>pZt30nZriGr4jhC7NcSZ2gcXmL1vxfhQibuvvmzNZ2YegL5ojtAlNGkRQmc7</password>

        <configuration>
            <endpointChecking>false</endpointChecking>
            <securityProtocol>FTPS</securityProtocol>
            <implicit>true</implicit>
            <passiveMode>true</passiveMode>
        </configuration>
    </server>
</servers>
<activeProfiles>
    <activeProfile>azure-hello-world</activeProfile>
</activeProfiles>
</settings>
